<div class="barColor"
    style="background-color: rgb(14, 46, 60); width: 100%; text-align:end; color:white; padding-top:0.5em; padding-right:0.7em; opacity:0.8">
</div>
</div>
</div>
<div class="locations">
    <ul class="locationsList">
        <li><a href="/ayarlar/league"> Ayarlar > Ligler</a></li>
        <li><i class="fa-solid fa-circle-question"></i></li>
    </ul>
</div>
</nav>
<div class="mainPage">
    {{>left-navData}}
    <div class="hakemSettings" style="width: 450px;">
        <div class="boxSettings">
            <div class="boxSettingsTop" style="margin-left: 2em;">
                <h2>Lig Ayarları</h2>
                <p>Lig ile ilgili bilgileri aşağıdan değiştirebilirsiniz.</p>
            </div>
            <div class="hr"></div>
            <div class="boxSettingsMiddle" style="margin-left: 2em;">
                <form action="/ayarlar/league/lig" method="POST" class="boxInfo">
                    <h2>Lig Bilgileri</h2>
                    <div class="topInfo">
                        <div class="input-container">
                            <input type="text" style="width: 315px;" name="leagueName" required=""
                                value="{{league.leagueName}}" />
                            <label>Lig İsmi</label>
                        </div>
                        <select class="w3-select" name="typeSelect" id="typeSelect"
                            style="width: 150px; height:25px; margin-top:1em">
                            <option value="Çift Devreli Lig" {{#if (eq league.typeSelect "Çift Devreli Lig" )}}
                                selected{{/if}}>Çift devreli lig</option>
                            <option value="Tek Devreli Lig" {{#if (eq league.typeSelect "Tek Devreli Lig" )}}
                                selected{{/if}}>Tek devreli lig</option>
                        </select>
                        <div class="input-container">
                            <input type="number" style="width:150px;" name="importanceOfLeague"
                                value="{{league.importanceOfLeague}}" required="" min="1" max="10" />
                            <label style="">Ligin Önemi(1-10)</label>
                        </div>
                    </div>
            </div>
            <div class="hr"></div>
            <div class="hakemPositions" style="margin-left:2em ;">
                <h2>Lig İçin Gerekli Pozisyonlar</h2>
                <div class="leagueMiddleRefereeIsChecked">
                    <label for="leagueMiddleRefereeIsChecked">Orta Hakem</label>
                    <input type="checkbox" name="leagueMiddleRefereeIsChecked" {{#if
                        league.leagueMiddleRefereeIsChecked}}checked{{/if}} style="margin-right: 2em;">
                </div>
                <div class="leagueLinemanIsChecked">
                    <label for="leagueLinemanIsChecked">Yan Hakem</label>
                    <input type="checkbox" name="leagueLinemanIsChecked" id="leagueLinemanIsChecked" {{#if
                        league.leagueLinemanIsChecked}}checked{{/if}} style="margin-right: 2em;">
                </div>
                <div class="leagueSecondLinemanIsChecked" id="leagueSecondLinemanIsChecked">
                    <label for="leagueSecondLinemanIsChecked">2. Yan Hakem</label>
                    <input type="checkbox" name="leagueSecondLinemanIsChecked" {{#if
                        league.leagueSecondLinemanIsChecked}}checked{{/if}} style="margin-right: 2em;">
                </div>
                <div class="leagueFourthRefereeIsChecked">
                    <label for="leagueFourthRefereeIsChecked">Dördüncü Hakem</label>
                    <input type="checkbox" name="leagueFourthRefereeIsChecked" {{#if
                        league.leagueFourthRefereeIsChecked}}checked{{/if}} style="margin-right: 2em;">
                </div>
                <div class="leagueVarRefereeIsChecked">
                    <label for="leagueVarRefereeIsChecked">Var Hakem</label>
                    <input type="checkbox" name="leagueVarRefereeIsChecked" id="leagueVarRefereeIsChecked" {{#if
                        league.leagueVarRefereeIsChecked}}checked{{/if}} style="margin-right: 2em;">
                </div>
                <div class="leagueSecondVarRefereeIsChecked" id="leagueSecondVarRefereeIsChecked">
                    <label for="leagueSecondVarRefereeIsChecked">2.Var Hakem</label>
                    <input type="checkbox" name="leagueSecondVarRefereeIsChecked" {{#if
                        league.leagueSecondVarRefereeIsChecked}}checked{{/if}} style="margin-right: 2em;">
                </div>

            </div>
            <div class="hr" style="margin-top:1em;"></div>
            <div class="optionButtons" style="margin: 1em 2em; display:flex; gap: 3em;">
                <button type="submit" class="greenButton">Kaydet</button>
                <button type="button" onclick="window.location.href='/ayarlar/league'"
                    class="cancelButton">Geri</button>
            </div>
            <div class="optionButtons" style="display: flex;justify-content:center; margin:1em;">
                <a href="#modal-container" uk-toggle><button type="button" class="greenButton">Gruplar</button></a>
            </div>
            <div class="hr"></div>
            </form>

            <div class="dangerArea" style="margin: 1em 2em;">
                <h2>Tehlikeli Bölge <span style="color: red;">!</span></h2>
                <div class="optionButtons" style="display:flex; gap: 3em;">
                    <form action="/ayarlar/league/{{league._id}}?_method=DELETE" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="redButton">Sil</button>
                    </form>
                </div>

            </div>

        </div>
        {{>sessionFlashMessage}}
    </div>

    <div id="modal-container" class="uk-modal-container" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <button class="uk-modal-close-default" type="button" uk-close></button>

            <!-- Görüntü Ekranı -->
            <div class="mainPage">
                <div class="hakemSettings" style="width:max-content;">
                    <div id="gruplar" style="display: flex; flex-wrap:wrap; gap:2em;">
                        <form action="/ayarlar/league/group" method="POST" class="boxInfo">
                            <input type="text" value="{{league._id}}" name="leagueName" id="" style="display:none;">
                            <button class="greenButton" type="submit">Yeni Grup Oluştur</button>
                        </form>
                        <div id="gruplar" style="display: flex; flex-wrap:wrap; gap:2em;">
                            {{#each group}}
                            {{#if (eqIds leagueName ../league._id)}}
                            <form action="/ayarlar/league/edit/{{_id}}?_method=PUT" method="POST" class="boxInfo">
                                <div class="grupDiv"
                                    style="width:200px;display:inline-block;border:1px solid black;padding:10px; height:500px">
                                    <h2>Grup {{add @index 1}}</h2>
                                    </h2>
                                    <select name="teamName" id="" multiple multiselect-search="true"
                                        multiselect-select-all="true" style="width:150px;">
                                        {{#each ../team}}
                                        <option value="{{_id}}">{{teamName}}</option>
                                        {{/each}}
                                    </select>
                                    <input type="hidden" name="_method" value="PUT">
                                    <button type="submit" class="greenButton">Kaydet</button>
                                    <ul>
                                        <span style="font-weight:600;">Takımlar : </span>
                                        {{#each teamName}}
                                        <li>{{this.teamName}}</li>
                                        {{/each}}
                                    </ul>
                                </div>
                            </form>
                            {{/if}}
                            {{/each}}
                        </div>

                    </div>



                    {{!-- <div class="boxSettings">
                        <h2 style="margin-left:1em;font-weight:500;">{{league.leagueName}} Ligi</h2>
                        <hr>
                        <div class="boxSettingsTop" style="margin-left: 2em;">
                            <h2>Grup Oluştur</h2>
                            <p>Grup ile ilgili bilgileri aşağıdan değiştirebilirsiniz.</p>
                        </div>
                        <div class="hr"></div>
                        <div class="boxSettingsMiddle" style="margin-left: 2em;">
                            <form action="/ayarlar/league/{{league._id}}?_method=PUT" method="POST" class="boxInfo">
                                <h2>Grup Bilgileri</h2>
                                <div class="topInfo">
                                    <div class="input-container">
                                        <input type="number" style="width: 315px;" min=0 max=30 name="groupNumber"
                                            required="" value="" />
                                        <label>Grup Sayısı</label>
                                    </div>
                                </div>
                        </div>
                        <div class="hr" style="margin-top:1em;"></div>
                        <div class="optionButtons" style="margin: 1em 2em; display:flex; gap: 3em;">
                            <input type="hidden" name="_method" value="PUT">
                            <button type="submit" class="greenButton">Oluştur</button>
                        </div>
                        </form>

                    </div>

                </div>

                <div id="gruplar" style="display: flex; flex-wrap:wrap; gap:2em;">
                    {{#times league.groupNumber}}
                    <form action="/ayarlar/league/edit-{{this}}/{{../league._id}}?_method=PUT" method="POST"
                        class="boxInfo">
                        <div class="grupDiv"
                            style="width:200px;display:inline-block;border:1px solid black;padding:10px; height:500px">
                            <h2>Grup {{this}}</h2>
                            <select name="groupNo{{this}}" id="" multiple multiselect-search="true"
                                multiselect-select-all="true" style="width:150px;">
                                {{#each ../team}}
                                <option value="{{_id}}">{{#each (lookup ../../league (concat 'groupNo' 1))}}{{#if (eqIds
                                    ../_id _id)}}<span style="color:red !important;"> !
                                    </span>{{/if}}{{/each}}{{teamName}}</option>
                                {{/each}}
                            </select>
                            <input type="hidden" name="_method" value="PUT">
                            <button type="submit" class="greenButton">Ekle</button>
                            <ul>
                                <span style="font-weight:600;">Takımlar : </span>
                                {{#each (lookup ../league (concat 'groupNo' this))}}
                                <li>{{this.teamName}}</li>
                                {{/each}}
                            </ul>
                        </div>
                    </form>
                    {{/times}}
                </div> --}}


            </div>
            <!-- Görüntü Ekranı Bitiş -->
        </div>
    </div>
    <script>

        var modal = UIkit.modal("#modal-container")
        modal.show();
    </script>